<div class="col">
  <div class="card text-center" >
    <h5 class="card-header "><%= user_badge.badge.name %></h5>
    <div class="card-body">
      <%= class_img(user_badge.badge.img) %>
    </div>
    <div class="card-footer" >
    </div>
  </div>
</div>
