<%if object&.errors&.full_messages&.any? %>
  <div class="alert alert-warning">
    <p><%= t('.header', count: object.errors.count) %></p>
    <ul >
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
