<footer class="p-3 bg-dark text-white">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        Project: <%= github_url(user: "IgorSinitsa", repo: "test-guru") %>
      </div>
      <div class="col">
        <%= thinknetica %>
      </div>
      <div class="col">
        Copyright <%= current_year %>   |
        by: <%= github_url(user: "IgorSinitsa") %>
      </div>
    </div>
  </div>
</footer>
