<div class="card col-4" >
  <div class="card-header text-center">
    <%= link_to @question.body, admin_question_path(@question) %>
  </div>
  <div class="card-body text-center">
    <%= @answer.body %>
  </p>
  <div class="card-footer text-center">
    <%= link_to t("button.edit"), edit_admin_answer_path(@answer), method: :get %>
    <%= link_to t("button.delete"), admin_answer_path(@answer),
                                    method: :delete,
                                    data: { confirm: t("button.confirm") } %>
  </div>
</div>
