<div class="card col-6" >
  <div class="card-header text-center">
    <%= link_to t("text.edit_test", test: @test.title, level: @test.level ), admin_test_path(@test) %>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
