<h2> Tests </h2>
<p>
  <%= link_to "New Test", new_test_path %>
</p>
<p>
<% @tests.each do |test| %>
  <%= link_to "#{test.title} Level #{test.level}", test_path(test) %> 
 </p><p>
  <%= button_to "Edit", edit_test_path(test), method: :get %> 
  <%= button_to "Delete", test_path(test), method: :delete,
                                           remote: :true,
                                           data: { confirm: "Are you sure?" } %>
 </p>
<% end %>