<footer>
  <table><thead>
  <tr>
    <th>  Project: <%= github_url(user: "IgorSinitsa", repo: "test-guru") %></th>
  <th>
    <%= thinknetica %>
  </th>
    <th>Copyright <%= current_year %>, </th>  
   
  </tr></thead>
<tbody>
  <tr>
    <td></td>
    <td></td>
    <td>by: <%= github_url(user: "IgorSinitsa") %></td>
  </tr>
</tbody>
</table>
   


      
 
</footer>